body {
	background-image: url("../img/background.jpg");
}
img {
	height: 100px;
	width: 75px;
	margin: 0px 48px;
}
.img{
	float: left;
	background: white;
	border: 2px solid red;
}
.clear {
	clear: both;
}
